site_name: Python (2 семестр)
site_url: https://kurotych.com/programming-2sem/

watch:
  - docs

theme:
  name: material
  features:
    - navigation.sections
    - navigation.expand
    - toc.integrate
    - content.code.copy

markdown_extensions:
  - toc:
      permalink: true
      toc_depth: 3
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

copyright: 2026 Куротич Анатолій. Всі права захищені.

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/kurotych

nav:
  - Головна: index.md
  - Модуль 1:
    - module1/01-sqlite-lecture.md
    - module1/02-sqlite-practice.md


